build
thesis.acn
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.glo
thesis.ist
thesis.lof
thesis.log
thesis.lot
thesis.toc
thesis.xmpdata
thesis.synctex.gz
thesis.run.xml
thesis.acr
thesis.alg
thesis.glg
thesis.gls
thesis.xmpdata
